2_download_todo_pdb/pdb.fasta
2_download_todo_pdb/pdb.db.psq
2_download_todo_pdb/pdb.db.phr

6_modelos_alphafold/validacoes/.DS_Store
6_modelos_alphafold/validacoes/.DS_Store
6_modelos_alphafold/validacoes/.DS_Store
