/* Style.css */
* { padding:0; margin:0; }
header{ background: linear-gradient(135deg, #35b8b0 0%,#1c799d 100%); height: 110px; padding:5px }
footer { margin-top:20px; min-height: 100px; padding:20px; color:#CCC; font-size: 12px; text-align: center;}
a{color:#434857;}

/* ID */
#header1{ background-color:#f97e70; height:25px; padding:4px 10px 0 0;  }
#header2{ background-color:#302f31;	height:100px; padding-top:5px; }
#menu{ margin-top:20px; }
#menu_interno{ padding:5px 10px; color:#333; }
#principal{ margin-top:30px; }
#pdb,#pdb2 { width: 100%; height: 600px; position: relative;}


/* Class */
.content { margin:30px 0; padding:20px; background-color:#fbfbfb; }
.organismos { font-size: 14px }
.sub_menu { margin: 10px; font-size: 34px; }
.name_organism{ font-style: italic;}
.citation { font-size: 10px; }
.col_right {text-align: right; float:left; }
.col_left {float:left; }
